fastapi
uvicorn

streamlit
requests

chromadb

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq

sentence-transformers

python-dotenv

pymupdf
python-docx
openpyxl
python-pptx

pytesseract
pillow

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
httplib2

pydrive2

python-multipart